@charset "utf-8";

/* 테이블 컨테이너 */
.user-modal-table-container {
    max-height: 400px;
    overflow-y: auto;
}

/* 반응형 */
@media (max-width: 768px) {
    .user-modal-table-container {
        max-height: 300px;
    }
}

