<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="headerLayout">
        <div class="gnb">
            <h1 class="logo">
                <a href="/main/mainForm.do">
                    <img src="/images/logo.png" alt="Spatialt 로고" />
                </a>
            </h1>
            <div class="util">
                <ul>
                    <li th:if="${session.LoginVO}">
                        <span class="profile">
                            <a href="#" th:text="${session.LoginVO.userNm} + '님'">홍길동님</a>
                        </span>
                        <span>환영합니다</span>
                    </li>
                    <li>
                        <a th:href="@{/login/logout.do}">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</html>
