<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{cmm/layout/subLayout :: layout (
            contentLink=~{::contentLink},
            script=~{::script},
            content=~{::content})}">

<th:block th:fragment="contentLink">
    <link rel="stylesheet" th:href="@{/css/system/menu/menuList.css}" />
</th:block>

<th:block th:fragment="script">
    <script th:src="@{/js/system/menu/menuList.js}"></script>
</th:block>

<main th:fragment="content">
    <div class="wrap-inner">
        <section class="sub-title">
            <h2 class="txt-h2">메뉴 및 권한 관리</h2>
        </section>

        <section class="sub-contents">
            <!-- 2행 2열 레이아웃 컨테이너 -->
            <div class="menu-auth-container">
                
                <!-- 1행: 메뉴 관리 영역 (메뉴 트리 + 상세 정보) -->
                <div class="row-section menu-section">
                    <!-- 좌측: 메뉴 트리 -->
                    <div class="col-section menu-tree-area">
                        <div class="item-box">
                            <div class="section-header">
                                <h3 class="txt-body-lg">메뉴 목록</h3>
                            </div>
                            <!-- 검색 영역 -->
                            <div class="menu-search-area mb-10">
                                <div class="item-horizontal-box g10">
                                    <input type="text" id="searchKeyword" name="searchKeyword" class="input flex-1" 
                                           placeholder="메뉴명 검색">
                                    <button type="button" class="primary-btn" id="searchBtn">검색</button>
                                </div>
                            </div>
                            <!-- 트리 컨테이너 -->
                            <div class="menu-tree-wrapper">
                                <div class="menu-tree-header">
                                    <span class="txt-body-sm">전체 메뉴 <span id="treeTotalCount">(0)</span></span>
                                </div>
                                <div class="menu-tree-container">
                                    <div class="menu-tree-list" id="menuTreeList">
                                        <div class="menu-tree-loading">메뉴 정보를 불러오는 중...</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 우측: 메뉴 상세 정보 -->
                    <div class="col-section menu-detail-area">
                        <div class="item-box">
                            <div class="section-header">
                                <h3 class="txt-body-lg">메뉴 상세 정보</h3>
                                <div class="section-actions">
                                    <button type="button" class="primary-btn" id="registerBtn">신규 등록</button>
                                </div>
                            </div>
                            <!-- 상세 정보 표시 영역 -->
                            <div id="menuDetailArea" class="menu-detail-content-area">
                                <div class="menu-detail-empty">
                                    <p class="txt-body">좌측 메뉴 목록에서 메뉴를 선택하세요</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 2행: 권한 관리 영역 (권한 그룹 + 사용자 목록) -->
                <div class="row-section auth-section">
                    <!-- 좌측: 권한 그룹 -->
                    <div class="col-section role-group-area">
                        <div class="item-box">
                            <div class="section-header">
                                <h3 class="txt-body-lg">권한 그룹</h3>
                                <button type="button" class="primary-btn" onclick="fn_saveAllAuth()">권한 저장</button>
                            </div>
                            <div class="table-box type01">
                                <div class="table-inner">
                                    <table class="table-type01" id="roleGroupTable">
                                        <caption class="table-caption">권한 그룹 목록</caption>
                                        <colgroup>
                                            <col width="10%"/>
                                            <col width="45%"/>
                                            <col width="15%"/>
                                            <col width="15%"/>
                                            <col width="15%"/>
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>권한 그룹명</th>
                                            <th>조회</th>
                                            <th>입력</th>
                                            <th>인쇄</th>
                                        </tr>
                                        </thead>
                                        <tbody id="roleGroupTbody">
                                        <tr>
                                            <td class="tc" colspan="5" style="height:200px;">메뉴를 선택하세요</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 우측: 접근 가능 사용자 -->
                    <div class="col-section user-list-area">
                        <div class="item-box">
                            <div class="section-header">
                                <h3 class="txt-body-lg">접근 가능 사용자</h3>
                                <div class="section-actions">
                                    <button type="button" class="primary-btn" id="addUserBtn">추가</button>
                                    <button type="button" class="outline-btn-Bck" id="deleteUserBtn">삭제</button>
                                </div>
                            </div>
                            <div class="table-box type01">
                                <div class="table-inner">
                                    <table class="table-type01" id="userListTable">
                                        <caption class="table-caption">접근 가능 사용자 목록</caption>
                                        <colgroup>
                                            <col width="40%"/>
                                            <col width="20%"/>
                                            <col width="20%"/>
                                            <col width="20%"/>
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>사용자명</th>
                                            <th>조회</th>
                                            <th>입력</th>
                                            <th>인쇄</th>
                                        </tr>
                                        </thead>
                                        <tbody id="userListTbody">
                                        <tr>
                                            <td class="tc" colspan="4" style="height:200px;">권한 그룹을 선택하세요</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    
    <!-- 템플릿: 메뉴 상세 정보 (조회 모드) - 가로 배치 최적화 -->
    <template id="menuDetailViewTemplate">
        <div class="menu-detail-form">
            <div class="table-box type01">
                <div class="table-inner">
                    <table class="table-type01 form-table">
                        <caption class="table-caption">메뉴 상세 정보</caption>
                        <colgroup>
                            <col width="15%"/>
                            <col width="35%"/>
                            <col width="15%"/>
                            <col width="35%"/>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>메뉴 ID</th>
                            <td><input type="text" class="input w100" data-bind="menuId" readonly></td>
                            <th>상위메뉴</th>
                            <td><input type="text" class="input w100" data-bind="upperMenuId" readonly></td>
                        </tr>
                        <tr>
                            <th>메뉴명</th>
                            <td colspan="3"><input type="text" class="input w100" data-bind="menuNm" readonly></td>
                        </tr>
                        <tr>
                            <th>URL</th>
                            <td colspan="3"><input type="text" class="input w100" data-bind="menuUrl" readonly></td>
                        </tr>
                        <tr>
                            <th>출력순서</th>
                            <td><input type="text" class="input w100" data-bind="menuOrder" readonly></td>
                            <th>사용여부</th>
                            <td>
                                <div class="radio-group">
                                    <label class="radio-label"><input type="radio" name="useYn" value="Y" data-bind-radio="useYn-Y" disabled> 사용</label>
                                    <label class="radio-label"><input type="radio" name="useYn" value="N" data-bind-radio="useYn-N" disabled> 미사용</label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="menu-form-actions mt-10 tar">
                <button type="button" class="primary-btn" onclick="fn_switchToMenuEditMode()">수정</button>
                <button type="button" class="outline-btn-Bck" onclick="fn_deleteMenu()">삭제</button>
            </div>
        </div>
    </template>
    
    <!-- 템플릿: 메뉴 상세 정보 (수정/등록 모드) -->
    <template id="menuDetailEditTemplate">
        <div class="menu-detail-form">
            <form id="menuForm">
                <div class="table-box type01">
                    <div class="table-inner">
                        <table class="table-type01 form-table">
                            <caption class="table-caption">메뉴 상세 정보 수정</caption>
                            <colgroup>
                                <col width="15%"/>
                                <col width="35%"/>
                                <col width="15%"/>
                                <col width="35%"/>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>메뉴 ID <span class="required">*</span></th>
                                <td>
                                    <div class="item-horizontal-box g5">
                                        <span class="input-prefix" id="menuIdPrefix" style="display:none;">M</span>
                                        <input type="text" class="input flex-1" id="menuId" name="menuId" data-bind="menuId" placeholder="숫자 입력" required>
                                    </div>
                                </td>
                                <th>상위메뉴</th>
                                <td>
                                    <div class="item-horizontal-box g5">
                                        <input type="text" class="input flex-1" id="upperMenuId" name="upperMenuId" data-bind="upperMenuId" readonly>
                                        <button type="button" class="sm-btn" onclick="fn_openMenuSearchModal()">선택</button>
                                        <button type="button" class="sm-btn-Bck" onclick="fn_clearUpperMenu()">삭제</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>메뉴명 <span class="required">*</span></th>
                                <td colspan="3"><input type="text" class="input w100" id="menuNm" name="menuNm" data-bind="menuNm" required></td>
                            </tr>
                            <tr>
                                <th>URL</th>
                                <td colspan="3"><input type="text" class="input w100" id="menuUrl" name="menuUrl" data-bind="menuUrl"></td>
                            </tr>
                            <tr>
                                <th>출력순서</th>
                                <td><input type="number" class="input w100" id="menuOrder" name="menuOrder" data-bind="menuOrder" min="1"></td>
                                <th>사용여부</th>
                                <td>
                                    <div class="radio-group">
                                        <label class="radio-label"><input type="radio" name="useYn" value="Y" data-bind-radio="useYn-Y"> 사용</label>
                                        <label class="radio-label"><input type="radio" name="useYn" value="N" data-bind-radio="useYn-N"> 미사용</label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="menu-form-actions mt-10 tar">
                    <button type="button" class="primary-btn" onclick="fn_saveMenu()">저장</button>
                    <button type="button" class="outline-btn" onclick="fn_cancelMenuEdit()">취소</button>
                </div>
            </form>
        </div>
    </template>
</main>

</html>
