<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="tocLayout">
  <aside class="dashboard-sidebar">
    <div class="sidebar-menu">
      <ul class="sidebar-menu-wrap">
        <li class="dep-1-menu"
            th:each="menu : ${menuList}"
            th:classappend="${menu.subMenuList != null and menu.subMenuList.size() > 0 ? 'has-submenu' : ''}">
          <a class="dep-1-item" href="#">
            <span th:text="${menu.menuNm}"></span>
            <i class="icon-drop-down submenu-arrow"></i>
          </a>

          <ul class="dep-2-menu" th:if="${menu.subMenuList != null and menu.subMenuList.size() > 0}">
            <li th:each="subMenu : ${menu.subMenuList}">
              <a class="dep-2-item" th:href="@{${subMenu.menuUrl}}">
                <span th:text="${subMenu.menuNm}"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>
</div>
</html>
