@charset "utf-8";

.footer {
    flex-shrink: 0;
    height: 40px;
    background-color: #F5F6FA; /* 메인 배경과 동일하거나 약간 다르게 */
    border-top: 1px solid #E0E2E6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #858D99;
}

.footer p {
    margin: 0;
}
